/* HTML tags */
body {
  color: var(--primary-color);
}

code {
  background: lightgray;
}

a {
  color: var(--active-color);
  text-decoration: none;
}

a:hover {
  color: var(--secondary-color);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--muted-bg-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--foreground-bg-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--active-bg-color);
}

/* Common components styles */
.button {
  color: var(--active-color);
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  padding: 0.5rem 1rem;
  background: aliceblue;
}

.button:hover {
  background-color: var(--foreground-bg-color);
}

.message {
  padding: 1rem 0;
  margin-bottom: 0;
}

.message--info {
  color: green;
}

.message--alert {
  color: darkred;
}

.form-control--textarea {
  background-color: var(--muted-bg-color);
  border: 1px solid var(--foreground-bg-color);
  margin: 0;
}
