.tab {
  overflow: hidden;
  border-bottom: 1px solid var(--active-bg-color);
}

.tab .tabTitle {
  color: var(--secondary-color);
  float: left;
  width: 5rem;
  font-size: 15px;
}

.tab .tabTitle.active {
  background-color: var(--active-bg-color);
}

.tabContent {
  display: none;
  padding: 0.5rem;
  border-top: none;
}

.tabContent.active {
  display: block;
}
