<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../../shared/styles/variables.css" />
    <link rel="stylesheet" href="../../shared/styles/common.css" />
    <link rel="stylesheet" href="../../shared/styles/reset.css" />
    <link rel="stylesheet" href="../../shared/styles/tabs.css" />
    <link rel="stylesheet" href="./styles.css" />

    <script src="../../shared/js/tabs.js"></script>
    <script src="../../service/Optimizely.js"></script>
    <script src="../../service/Template.js"></script>
  </head>
  <body>
    <div class="componentWrapper">
      <h1 class="componentTitle">Optimizely experiments</h1>

      <!-- Tab links -->
      <div class="tab">
        <button class="tabTitle active button" data-target="experiments-list">
          List
        </button>
        <button class="tabTitle button" data-target="experiments-json">
          JSON
        </button>
      </div>

      <div id="messages">
        <div class="message message--info">Loading...</div>
      </div>

      <!-- Tab content -->
      <div id="experiments-list" class="tabContent active">
        <div id="container"></div>

        <input
          id="reset-feature-flags-cookie"
          class="button"
          type="button"
          value="Reset feature flags"
        />
        <input
          id="reload-tab"
          class="button"
          title="Click to reload page and fetch updated feature flags"
          type="button"
          value="🔄 Apply"
          hidden
        />
      </div>

      <div id="experiments-json" class="tabContent">
        <textarea
          class="form-control--textarea"
          id="experiments-json-container"
          cols="36"
          rows="20"
        ></textarea>
        <input
          id="save-json"
          class="button"
          title="Click to reload page and fetch updated feature flags"
          type="button"
          value="🔄 Apply"
          hidden
        />
      </div>

    </div>

    <script src="popup.js"></script>
  </body>
</html>
