<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../../shared/styles/reset.css" />
    <link rel="stylesheet" href="../../shared/styles/variables.css" />
    <link rel="stylesheet" href="../../shared/styles/common.css" />
    <link rel="stylesheet" href="../../shared/styles/tabs.css" />
    <link rel="stylesheet" href="./styles.css" />

    <script src="../../shared/js/tabs.js"></script>
    <script src="../../service/Optimizely.js"></script>
    <script src="../../service/Template.js"></script>
  </head>
  <body>
    <div class="componentWrapper">
      <h1 class="componentTitle">
        Optimizely experiments <span title="Igel: SA Optimizely Tool">🦔</span>
      </h1>

      <!-- Current feature branch (preview server) -->
      <div id="feature-branch-container" title="Current feature branch name (preview server)"></div>

      <!-- Tabs -->
      <div class="tab">
        <button class="tabTitle active button" data-target="experiments-list">
          📜 List
        </button>
        <button class="tabTitle button" data-target="experiments-json">
          ⚙️ JSON
        </button>
        <button class="tabTitle button" data-target="experiments-docs">
          👓️ Docs
        </button>
      </div>

      <div id="messages">
        <div class="message message--info">Loading...</div>
      </div>

      <!-- Tabs content -->
      <!-- Experiments list -->
      <div id="experiments-list" class="tabContent active">
        <div id="container"></div>

        <input
          id="reset-feature-flags-cookie"
          class="button"
          type="button"
          value="Reset feature flags"
          title="Clear cookies and reload page to fetch the new ones"
        />
        <input
          id="reload-tab"
          class="button"
          title="Click to apply changes, reload page, and fetch updated feature flags"
          type="button"
          value="🔄 Apply"
          hidden
        />
      </div>

      <!-- Experiments JSON -->
      <div id="experiments-json" class="tabContent">
        <p>You can edit raw feature flags JSON here.</p>
        <textarea
          class="form-control--textarea"
          id="experiments-json-container"
          cols="36"
          rows="20"
          autocomplete="off"
          spellcheck="false"
        ></textarea>
        <input
          id="save-json"
          class="button"
          title="Click to reload page and fetch updated feature flags"
          type="button"
          value="🔄 Apply"
          hidden
        />
      </div>

      <!-- Docs -->
      <div id="experiments-docs" class="tabContent">
        <p>
          <strong>Important</strong>: Feature flags cookie does not contain all
          possible variation names, so the extension tries to predict and
          display the 3 possible variations instead + <code>default</code> one.
        </p>
        <p>
          Old names starts with the <code>variation_N</code> prefix (e.g.
          variation_1, variation_2).<br />
          New naming convention uses the <code>vN</code> (e.g. v1, v2)
        </p>
        <p>
          The extension currently only handles <code>v_name</code> and any
          boolean variables.
        </p>
        <p>Find out more at these URLs:</p>
        <ul>
          <li>
            <a
              href="https://github.com/RedTecLab/igel-chrome-sa-optimizely-tool"
              target="_blank"
            >
              Igel: Chrome extension repository
            </a>
          </li>
          <li>
            <a
              href="https://github.com/RedTecLab/fock/blob/master/docs/08_Optimizely.md"
              target="_blank"
              >Optimizely in Fock
            </a>
          </li>
        </ul>

        <p>
          <strong>Version</strong>: <span id="igel-version"></span>
        </p>
      </div>
    </div>

    <script src="popup.js"></script>
  </body>
</html>
