.componentWrapper {
  width: 500px;
  padding: 0.5rem 1rem;
  margin: 0;
}

.componentWrapper h1 {
  font-size: 1.2rem;
}

#expList {
  padding-left: 0;
  list-style-type: none;
}

.expName {
  font-weight: bold;
}

.expVariant {
  color: olivedrab;
}

.expStatus {
  color: lightgray;
}
