.componentWrapper {
  width: 500px;
  padding: 0.5rem 1rem;
  margin: 0;
}

.componentWrapper h1 {
  font-size: 1.2rem;
}

#expList {
  padding-left: 0;
  list-style-type: none;
}

.expName {
  font-weight: bold;
}

.expName:hover {
  cursor: pointer;
}

.expVariant {
  color: olivedrab;
}

.expVariant:hover {
  cursor: help;
}

.expStatus {
  color: lightgray;
}

.message {
  padding: 1rem 0;
}

.message--info {
  color: green;
}

.expVariant__var {
  color: cadetblue;
}

.expVariant__varType:hover {
  border-bottom: 1px dashed;
  cursor: pointer;
}

.message-reload {
  border-bottom: 1px dashed;
  color: dodgerblue;
}

.message-reload:hover {
  cursor: pointer;
}

#reset-feature-flags-cookie {
  margin-right: 0.5rem;
}
