<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Igel: SA Optimizely Tool</title>

    <link rel="stylesheet" href="../../shared/styles/reset.css" />
    <link rel="stylesheet" href="../../shared/styles/variables.css" />
    <link rel="stylesheet" href="../../shared/styles/common.css" />
    <link rel="stylesheet" href="../../shared/styles/tabs.css" />
    <link rel="stylesheet" href="styles.css" />

    <script src="../../shared/js/tabs.js"></script>
    <script src="../../services/Optimizely.js"></script>
    <script src="../../services/Template.js"></script>
  </head>
  <body>
    <div class="componentWrapper">
      <h1 class="componentTitle">
        Optimizely experiments <span title="Igel: SA Optimizely Tool">🦔</span>
      </h1>

      <!-- Tabs -->
      <div class="tab">
        <button
          class="tabTitle active button"
          data-target="experiments-list"
          title="Experiments list"
        >
          📜
        </button>
        <button
          class="tabTitle button"
          data-target="experiments-json"
          title="JSON"
        >
          ⚙️
        </button>
        <button
          id="button--show-info"
          class="tabTitle button"
          data-target="experiments-details"
          title="Show details"
        >
          🕵️
        </button>
        <button
          class="tabTitle button"
          data-target="experiments-docs"
          title="Documentation"
        >
          ℹ️
        </button>
        <button
          id="button--add-new"
          class="tabTitle button"
          title="Add new experiment"
        >
          ➕
        </button>
      </div>

      <div id="messages">
        <div class="message message--info">Loading...</div>
      </div>

      <!-- Tabs content -->
      <!-- Experiments list -->
      <div id="experiments-list" class="tabContent active">
        <div id="container"></div>

        <input
          id="reset-feature-flags-cookie"
          class="button"
          type="button"
          value="Reset feature flags"
          title="Clear cookies and reload page to fetch the new ones"
        />
        <input
          id="reload-tab"
          class="button"
          title="Click to apply changes, reload page, and fetch updated feature flags"
          type="button"
          value="🔄 Apply"
          hidden
        />
      </div>

      <!-- Experiments JSON -->
      <div id="experiments-json" class="tabContent">
        <p>You can edit raw feature flags JSON here.</p>
        <textarea
          class="form-control--textarea"
          id="experiments-json-container"
          cols="36"
          rows="20"
          autocomplete="off"
          spellcheck="false"
        ></textarea>
        <input
          id="save-json"
          class="button"
          title="Click to reload page and fetch updated feature flags"
          type="button"
          value="🔄 Apply"
          hidden
        />
      </div>

      <!-- Feature flags & more details -->
      <div id="experiments-details" class="tabContent">
        <ul class="detailsList">
          <li>
            <strong>
              <a
                href="https://github.com/RedTecLab/fock/#public-urls"
                target="_blank"
              >
                Branch name
              </a></strong
            >: <br />
            <span
              id="feature-branch-container"
              title="Current feature branch name on the preview server (x-featurebranch)"
              >NA</span
            >
          </li>
          <li>
            <strong title="feature-flag-targeting">Targeting parameters</strong
            >: <br /><span id="feature-flag-targeting-params-container"
              >NA</span
            >
          </li>
        </ul>

        <p>
          <strong>User token</strong> is <code>httpOnly</code>, so it is not
          available for JS. You can find it in the standard dev tools.
        </p>
      </div>

      <!-- Docs -->
      <div id="experiments-docs" class="tabContent">
        <p>
          <strong>Important</strong>: Feature flags cookie does not contain all
          possible variation names, so the extension tries to predict and
          display the 3 (minimum) possible variations instead +
          <code>default</code> one.
        </p>
        <p>
          Old variations names (kept in <code>v_name</code> variable) starts
          with the <code>variation_</code> prefix + N (e.g. variation_1,
          variation_2).<br />
          New naming convention uses the <code>v</code> prefix + N (e.g. v1, v2)
        </p>
        <p>
          The extension currently only handles <code>v_name</code> and any
          boolean variables.
        </p>
        <p>Find out more at these URLs:</p>
        <ul>
          <li>
            <a
              href="https://github.com/RedTecLab/igel-chrome-sa-optimizely-tool"
              target="_blank"
            >
              Igel: Chrome extension repository
            </a>
          </li>
          <li>
            <a
              href="https://github.com/RedTecLab/fock/blob/master/docs/08_Optimizely.md"
              target="_blank"
              >Optimizely in Fock
            </a>
          </li>
        </ul>

        <p><strong>Version</strong>: <span id="igel-version"></span></p>
      </div>
    </div>

    <script type="module" src="popup.js"></script>
  </body>
</html>
