.componentWrapper {
  width: 350px;
  padding: 0.75rem;
  margin: 0;
  font-size: 13px;
}

.componentTitle {
  color: var(--secondary-color);
  margin: 0 0 0.5rem;
  font-size: 1.2rem;
}

#feature-branch-container:not(:empty) {
  margin: 0 0 0.5rem;
}

#feature-branch-container:not(:empty):hover {
  cursor: help;
}

#expList {
  padding-left: 0;
  list-style-type: none;
}

.expName {
  font-weight: bold;
}

.expName:hover {
  cursor: pointer;
}

.expVariant__varName {
  color: cadetblue;
}

.expVariant__varType:hover {
  border-bottom: 1px dashed;
  cursor: pointer;
}

.expVariant__varType--variant {
  color: var(--accent-color);
}

.expVariant__varType--empty {
  color: var(--muted-color);
}

.expVariant__varType--empty:hover {
  border-bottom: 1px dashed var(--muted-color);
}

#reset-feature-flags-cookie {
  margin-right: 0.5rem;
}

.tabContent p:not(.message) {
  margin-bottom: 1rem;
}
